$primary_color: wheat;
$primary-hover-color: gray;
$success-color: green;
$success-hover-color: darkgreen;
$title_color: black;

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: wheat;
}


.content{
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 1.0);
    text-align: center;

    h1{
        color: blueviolet;
    }
    
    table{
        width:100%;
        margin-top: 20px;
        border-collapse: collapse;

        th,td{
            padding: 10px;
            border: 1px solid #ccc;

            th{
                background-color: white;
                color: #333
            }
        }

    }

}
